* {
    font-family: Arial;
    box-sizing: border-box;
    font-size: small;
}

#header-furama {
    width: 100%;
    height: 80px;
    background-color: azure;
}

#header-furama img {
    float: left;
    margin-left: 40px;
}

#footer-furama {
    padding-top: 10px;
    height: 50px;
}

.link-myself {
    display: flex;
    text-decoration: none;
    padding-top: 25px;
}

.link-myself:hover {
    color: orangered;
    text-decoration: underline;
}

.button-function {
    margin-left: 50px;
}

.button-function:hover {
    background-color: darkgreen;
    color: white;
}

.mid1 {
    background-color: darkslategrey;
}

.mid2 {
    background-image: url("https://phulong.com/UploadFiles/Images/FURAMA%2020%20NAM.jpg");
    background-size: 980px 650px;
}

.gun{
    border: 1px solid black;
}

.customer{
    background: #4facfe;

    background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 0.5), rgba(0, 242, 254, 0.5));

    background: linear-gradient(to right, rgba(79, 172, 254, 0.5), rgba(0, 242, 254, 0.5))
}

.create{
    border: none;
    border-radius: 10px;
    background: greenyellow;
    margin-bottom: 5px;
}

th{
    text-align: center;
}

.body_create{
    height: auto;
    width: 100%;
}