<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>VIEW PRODUCT</h1></center>
<table >
    <tr>
        <td>ID Product:</td>
        <td th:text="*{products.id}"></td>
    </tr>
    <tr>
        <td>Name Product:</td>
        <td th:text="*{products.name}"></td>
    </tr>
    <tr>
        <td>Price Product:</td>
        <td th:text="*{products.price}"></td>
    </tr>
    <tr>
        <td>Production Product:</td>
        <td th:text="*{products.production}"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a th:href="@{/product}">Back</a>
        </td>
    </tr>
</table>
</body>
</html>